<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/navigation.css">
  </head>
  <body>


  <nav>
    <ul>

      <li class="auth-links">
        <a href="/auth/login">Login</a>
        <a href="auth/signup">Signup</a>
      </li>
    </ul>
  </nav>

    <h1>Flight Ticket Prices</h1>

    <div class="ticket-form">
      <form method="post" action="/prices"> 

      <label for="source">Source:</label>
        <input type="text" id="source" name="source">

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination">

        <button class="btn" type="submit">Search</button>
      </form>
    </div>

  </body>
</html>
